/* .signin-logo{
    width: 60%;
    margin-top: 20%;
} */
.welcome-text{
    font-weight: 700;
    font-size: 26px !important;
    margin-top: 20px;
    margin-bottom: 0px !important;

}
.signin-text{
    font-size: 17px;
}
.forget-password-container{
    padding-top: 20px;
}
.forget-password{
    text-decoration: none !important;
    color: #6266F5;
    padding: 10px;
    cursor: pointer;
}
.login-btn{

    margin-top: 10px;
}
.login-btn button{
    width: 100%;
    background: linear-gradient(0.20turn, #7033EE, #CE37E7, #FF8255);
    font-size: 22px;
    padding: 10px;
}



.css-cio0x1-MuiInputBase-root-MuiFilledInput-root:after,.css-cio0x1-MuiInputBase-root-MuiFilledInput-root:before {
    border-bottom: none !important;
}
.css-cio0x1-MuiInputBase-root-MuiFilledInput-root {
    
    background-color: transparent !important;
}
.css-1vm0r4s-MuiPaper-root {
    background-color: #F7F6FB !important;
    box-shadow: none !important;
}


