/********************************/
/**/
@font-face {
  font-family: "poppins-regular";
  src: url("../fonts/PoppinsFont/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("../fonts/PoppinsFont/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../fonts/PoppinsFont/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../fonts/PoppinsFont/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins-light";
  src: url("../fonts/PoppinsFont/Poppins-Light.ttf");
}

@font-face {
  font-family: "poppins-italic";
  src: url("../fonts/PoppinsFont/Poppins-Italic.ttf");
}
