/*Colors*/
$Darker: #131523;
$Dark: #313844;
$Lighter: #7e84a3;
$Light: #131523bf;

$TextPrimary: #0200e0;
$BGPrimary: #0200e0;
$BGGreen: #65d3c7;
$BGLighter: #eeeff8;
$BGLight: #dcddf7;
$Border: #d7dbec;

/*Font-Family*/
$Poppins: "Poppins", sans-serif;

// .BGPrimary{
//     background:$BGPrimary;
// }
// .BGLighter , .card-bg{
//     background: $BGLighter;
// }
// .BGLight{
//     background: $BGLight;
// }
// .BGGreen{
//     background:$BGGreen;
// }

/*********************************************
**********************************************
**********************************************
                    Usman's Variables
**********************************************
**********************************************
**********************************************/




$text-overflow-string: '_ _ _';

// Colors
$transparent: #00000000;
$white: #ffffff;



$danger-dull: #F2D5DB;
$downy: #65d3c7;
$mountain-meadow: #0ecb81;
$mountain-meadow-dull: #0ecb812e;
$mirage: #131523;
$mirage-dull: #131523bf;
$bright-gray: #313844;
$waterloo: #7e84a3;
$raven: #707a8a;
$breaker-bay: #57a59c;
$athens-gray: #e4e8ed;
$athens-gray-light: #F2F4F7;
$comet: #575d86;
$kashmir-blue: #54698a;
$periwinkle-gray: #d7dbec;
$moon-raker: #dadbf7;
$deep-sea-green: #085f3d;
$dark-blue: #240dd9;
$silver-chalice: #afafaf;
$mint-tulip: #caf0f3;
$alabaster: #fafafa;
$white-lilac: #eeeff8;
$titan-white: #fafaff;
$polar: #f3f8fc;
$scorpion: #5a5a5a;
$trout: #525a67;
$geyser: #d9e1e6;
$astronaut-blue: #023958;
$black-squeeze: #fcfefe;
$link-water: #dcddf7;

/*Bloc Admin Variables*/

/*Typography*/
/*poppins*/
$font-r: 'poppins-regular';
$font-m: 'poppins-medium';
$font-sb: 'poppins-semibold';
$font-b: 'poppins-bold';
$font-l: 'poppins-light';
$font-i: 'poppins-italic';

/*Utilities Colors*/
$primary: #4C6FFF;
$primary-light: #7895FF;
$primary-dark: #3754DB;

$secondary: #E4ECF7;
$secondary-light: #EBF2FA;
$secondary-dark: #A6B7D4;

$success: #66CB9F;
$success-light: #8CDFB3;
$success-dark: #4AAE8C;

$warning: #F7936F;
$warning-light: #FAB592;
$warning-dark: #D46A51;

$danger: #F16063;
$danger-light: #F68E87;
$danger-dark: #CF4655;

$info: #68DBF2;
$info-light: #8DEDF7;
$info-dark: #4CAFD0;

$dark: #16192C;
$dark-light: #505780;
$dark-dark: #101225;

/*Gray Colors Variant*/
$gray-75:#FAFAFA;
$gray-100:#F7FAFC;
$gray-200:#EDF2F7;
$gray-300:#E2E8F0;
$gray-400:#CBD5E0;
$gray-500:#A0AEC0;
$gray-600:#718096;
$gray-700:#4A5568;
$gray-800:#4A5568;
$gray-900:#1A202C;

/*Typography Color*/
$text:#425466;
$text-light:#7A7A9D;
$text-dark:#27272E;
$text-success:#39BF85;
$text-danger: #F16063;

/*Themes Colors*/
$theme-primary:#4C6FFF;